.hotel-image {
  width: 35rem;
  height: 25rem;
}

.hotels-background {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  background-color: black;
  color: white;
}

.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}