.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1024px; /* Set a maximum width for laptop size */
}

.homeTitle {
  font-size: 20px;
  width: calc(100% - 40px); /* Adjust width for mobile size */
}


@media (max-width: 767px) {
  .homeTitle {
    width: calc(100% - 40px); 
    font-size: 16px; 
  }
}


@media (min-width: 768px) {
  .homeTitle {
    font-size: 24px; /* Increase font size for laptop size */
    width: 100%; /* Reset width for laptop size */
  }
}
